.btn {
    color: #ffffff;
    background-color: crimson;
    border-radius: 5px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;

    &:hover {
    	color: #000000;
    	background-color: $link-color;
    	transition: 300ms ease-in;
    }
}