.btn {
    color: #ffffff !important;
    background-color: crimson;
    border-radius: 5px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;

    &:hover {
    	color: #000000;
    	background-color: $link-color;
    	transition: 300ms ease-in;
    }
}

.btn-white {
    width: 210px;
    height: 50px;
    border: 2px solid rgba(66, 81, 97, 0.1);
    border-radius: 6px;
    line-height: 50px;
    color: #2d3e50;
    transition: all 0.2s ease-in;
    display: inline-block;
    text-decoration: none;
}