.banner {

    input[type="text"] {
    	width: calc(80% - 50px);
        height: 45px;
        font-size: 20px;
        border-radius: 5px;
        border: transparent;
        padding: 0 20px;
        outline: none;
        margin-bottom: 5px;

    	@media only screen and (max-width: 768px) {
    		width: calc(100% - 40px);
    	}
    }
}

.classifieds-search--filter {
    
    form {
        display: flex;
        flex-direction: column;
        margin: 0 15px;

        select {
            margin: 5px;
            padding: 5px;
        }
    }
}

.place_ad,
.og-user {

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="url"],
    select,
    textarea {
        padding: 10px;
        margin: 10px 0;
        background-color: #ffffff;
        border: 1px solid $brand-color-alt;
        border-radius: 5px;

        &:focus {
            border: 1px solid $link-color;
            outline: 0;
        }
    }
    input[type="file"] {
        margin: 10px 0;
    }
}

.add-option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    a {
        text-decoration: none;
        width: calc(50% - 10px);
        color: #ffffff;
        background-color: #dc143c;
        min-height: 120px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $link-color;
            transition: 300ms ease-in;
        }
    }
}