.top-header {
	min-height: 100px;
	
	&-wrap {
		display: flex;
		flex-flow: row wrap;
	    min-height: 125px;
	    width: calc(100% - 30px);
	    max-width: 1200px;
    	margin: auto;

    	@media only screen and (max-width: 768px) {
    		padding: 25px;
    	}
	}
	&-card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 10px 0;

		@media only screen and (min-width: 768px) {
			width: calc(100% / 3);

			&:first-child {
				justify-content: flex-start;
			}
			&:last-child {
				justify-content: flex-end;
			}
		}
		.btn {

			&:hover {
				background-color: $link-color;
			}
		}
	}

	a {
		color: #000000;
		text-decoration: none;
	}
	&--login-link {
		margin-left: 5px;

		&:hover {
			color: $link-color;
		}
	}
	&--help {
		margin-left: 15px;
    	font-size: 25px;

		&:hover {
			color: $link-color;
		}
	}
}

.nav {
    background-color: $brand-color;
}

.menu {
    padding: 0;
    margin: 0;
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &-item {
    	list-style: none;
    	padding: 0 20px;

    	a {
    		color: #ffffff;
    		text-decoration: none;

    		&:hover {
    			color: $link-color;
    		}
    	}
    }
}

.header-alt {
	border-bottom: 1px solid #eeeeee;
	display: block;
}


.og-ww,
.og-jobs {		

	header {
		background-color: #eeeeee;
	}

	.top-header {
		display: flex;
		flex-flow: row wrap;
		width: calc(100% - 30px);
		max-width: 1200px;
		margin: auto;
	}

	.logo,
	.add-profile {
		width: calc(20% - 5px);
		margin: auto;
		text-decoration: none;
	}

	.logo {

		@media only screen and (max-width: 768px) {
			width: calc(60% - 5px);
		}
	}

	.add-profile {
		background-color: #002e63;
	    color: #ffffff;
	    text-align: center;
	    padding: 15px 0;

	    @media only screen and (max-width: 768px) {
	    	width: calc(100% - 30px);
	    	margin: 20px auto;
	    }
	}
	.add-profile:hover {
		background-color: #c70540;
		transition: 300ms ease-in;
	}

	.logo img {
		max-width: 100%;
	}

	.menu {
		width: calc(60% - 5px);
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	    align-items: center;

	    @media only screen and (max-width: 768px) {
			width: calc(40% - 5px);
		}
	}

	.menu-item {
		list-style: none;
		margin: 0 16px;
	}
	.menu-item a {
		text-decoration: none;
		color: #000000;
	}
	.menu-item a:hover {
		color: #c70540;
	}
}